#container{
	width: 900px;
	margin: 0 auto;
	background-color: silver;
	padding: 10px;
}

#header{
	height: 150px;
	background-color: green;
}

#left {
	background-color: blue;
	margin-top: 10px;
	height: 400px;
	width: 300px;
	display:inline-block;
}

#smallcontainer{
	width: 550px;
	height: 400px;
	background-color: red;
	float: right;
	margin-top: 10px;
}

.yellow{
	width: 170px;
	height: 170px;
	background-color: yellow;
	display:inline-block;
	margin: 5px;
	float: left;
}

#bottom{
	display:inline-block;
	background-color: green;
	height: 100px;
	width: 450px;
	margin-top: 30px;
	margin-left: 10px;
}
